/* src/components/LoginForm.css */

.login-form {
    display: flex;
    flex-direction: column;
  }

  .input-wrapper {
    position: relative;
    margin-bottom: 1rem;
  }

  .input-icon {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-95%);
    color: #000000;
    font-size: 1rem;
  }
  
  .login-form input {
    width: 100%;
    padding: 0.8rem 1rem;
    padding-left: 2.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 30px; /* pill-shaped corners */
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
  
  .login-form input::placeholder {
    color: #aaa;
  }
  
  .login-form button {
    width: 100%;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 30px;
    background-color: #635BBA; /* purple button */
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
  }
  
  .login-form button:hover {
    background-color: #514a9d; /* slightly darker purple on hover */
  }

  .login-form input:hover{
    background-color: #696969;
  }
  