/* src/components/SignUpForm.css */

.signup-form {
    display: flex;
    flex-direction: column;
  }
  
  .input-wrapper {
    position: relative;
    margin-bottom: 1rem;
  }

  .input-icon {
    position: absolute;
    left: 15px;      /* space from left */
    top: 50%;        /* vertically center the icon */
    transform: translateY(-95%);
    color: #000000;     /* icon color */
  }

  .signup-form input {
    width: 100%;
    padding: 0.8rem 1rem;
    padding-left: 2.5rem;
    margin-bottom: 1rem;
    border: none;
    border-radius: 30px; /* pill-shaped corners */
    font-size: 1rem;
    color: #333;
    background-color: #fff;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  }
  
  .signup-form input::placeholder {
    color: #aaa; /* lighter placeholder text */
  }
  
  .signup-form button {
    width: 100%;
    padding: 0.8rem 1rem;
    border: none;
    border-radius: 30px;
    background-color: #84D3D0; /* teal-ish button */
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    
  }
  
  .signup-form button:hover {
    background-color: #72bdbb; /* slightly darker teal on hover */
  }
  
  .signup-form input:hover {
    background-color: #696969;
  }